<section>
  <div class="color-bar h-1 bg-gradient-to-r from-[#9867f0] to-[#ed4e50]"></div>
  <div class="nav-bar flex items-center justify-between p-4">
    <a><img src="/assets/logo.svg" width="72" height="72" /></a>
    <nav class="nav-items flex space-x-4 text-sm text-gray-800">
      <a href="" class="hover:underline"
        ><i class="fa-brands fa-twitter mr-1"></i>Twitter</a
      >
      <a href="" class="hover:underline"
        ><i class="fa-brands fa-discord mr-1"></i>Discord</a
      >
    </nav>
  </div>

  <div class="main-cont py-8 lg:py-16 px-6 flex items-center">
    <div class="text-content mx-auto inline-block text-center">
      <div class="color-btn">
        <span
          class="py-2 px-2 text-base bg-gradient-to-r from-[#9867f0] to-[#ed4e50] rounded-3xl"
          ><span class="bg-white rounded-3xl py-1 px-6">GitHub Next</span></span
        >
      </div>
      <div
        class="heading max-w-3xl mt-10 mx-auto text-3xl sm:text-4xl font-bold"
      >
        GitHub Next investigates the future of software development.
      </div>
      <div
        class="font-light max-w-3xl mx-auto text-gray-600 text-lg sm:text-xl mt-3"
      >
        We are a team of researchers and engineers at GitHub, exploring things
        beyond the adjacent possible. We prototype tools and technologies that
        will change our craft. We identify new approaches to building healthy,
        productive software engineering teams.
      </div>
    </div>
  </div>

  <div class="py-6 bg-white/90 backdrop-blur backdrop-filter sticky top-0 z-10">
    <div class="mob"></div>
    <div class="desk px-5">
      <nav
        class="flex items-center justify-between space-x-4 px-20 font-medium text-sm"
      >
        <a href="">PROJECTS</a>
        <a href="">TEAM</a>
        <a href="">EVENTS</a>
        <a href="">SPEAKER SERIES 2020</a>
      </nav>
    </div>
  </div>

  <div class="black-cont px-4">
    <div class="black-box rounded-2xl py-12" style="background-color: #050d21">
      <div class="content sm:px-5 mx-6 sm:mx-16">
        <div class="text-white text-3xl font-extrabold">Projects</div>
        <p
          class="py-2 font-medium opacity-80 text-white"
          style="margin-top: 20px"
        >
          All Categories
        </p>
        <div class="cards-grid grid gap-y-11 sm:grid sm:grid-cols-2 sm:gap-8">
          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-3xl p-8 w-full">
            <div class="mr-4">
              <div
                class="font-extrabold text-3xl text-gh3 pt-4 pb-1"
                style="color: #24292e"
              >
                Code Brushes
              </div>
              <p class="mt-3 text-gh3 text-gray-600">January 11, 2023</p>
              <p
                class="inline-block rounded-md px-3 py-1 text-indigo-700 bg-violet-200"
              >
                USABLE PROTOTYPE
              </p>
              <p class="font-light text-xl mt-5 pb-5">
                Can editing code feel more tactile, like painting with Photoshop
                brushes ? We added a toolbox of brushes to our visual studio
                code extension that can modify your code.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-cont px-4">
    <div class="py-12">
      <div class="content sm:px-5 mx-6 sm:mx-16">
        <div class="text-4xl font-extrabold" style="color: #050d21">Team</div>
        <p
          class="py-2 font-light text-2xl text-gray-600"
          style="margin-top: 20px"
        >
          Our team spans time zones,languages,and fields of expertise.
        </p>
        <div class="cards-grid grid gap-y-11 sm:grid sm:grid-cols-4 sm:gap-8">
          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t1.jpeg"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>

          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t2.jfif"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>


          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t2.jfif"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>



          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t3.jfif"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>


          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t4.png"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>



          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t1.jpeg"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>


          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t1.jpeg"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>

          <div class="w-full">
            <div class="mr-4 max-w-screen-sm text-center">
              <div class="pt-4 pb-1 flex justify-center">
                <img
                  src="/assets/t4.png"
                  alt=""
                  class="rounded-full"
                  width="126px"
                  height="126px"
                />
              </div>
              <p class="mt-3 text-lg font-semibold text-gray-600">
                Albert Ziegler
              </p>
              <p class="text-gray-700 text-base">
                Principle Machine Learning Engineer
              </p>
              <p class="mt-5 pb-5">
                <i class="fa-brands fa-github w-4 h-4 mr-1"></i>Wunderalbert
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="event-cont px-4">
    <div class="black-box rounded-2xl py-12" style="background-color: #050d21">
      <div class="content sm:px-5 mx-6 sm:mx-16">
        <div class="text-white text-3xl font-extrabold">Events</div>
       
        <p
        class="py-2 font-light text-2xl text-gray-300 "
        style="margin-top: 20px"
      >
      Our team members speak at a variety of conferences, meetups,<br> and other events across the world.
      </p>
       
        <div class="cards-grid grid gap-y-11 sm:grid sm:grid-cols-3 sm:gap-8 pt-10">
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
          <div class="bg-white rounded-3xl p-4 w-full">
            <div class="mr-4 max-w-screen-sm">
              <div
                class="font-medium text-xl  pt-4 pb-1"
                style="color: #24292e"
              >
                Crafting Code Suggestions using large langauge models
              </div>
              <p class="mt-3  text-gray-600">2/6/2023</p>
               <p><img src="/assets/t1.jpeg" alt="" class="rounded-full" width="45px"></p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="speaker-cont px-4">
    <div class="py-12">
      <div class="content sm:px-5 mx-6 sm:mx-16">
        <div class="text-4xl font-extrabold" style="color: #050d21">Speaker Series 2020</div>
        <p
          class="py-2 font-light text-2xl text-gray-600"
          style="margin-top: 20px"
        >
        We invite experts from Industry, Academia, and Open-Source <br> technologies to share their experience and wisdom with us.
        </p>
        <div class="cards-grid grid gap-y-11 sm:grid sm:grid-cols-3 sm:gap-8">
            <div class="bg-white w-full ">
                <img src="/assets/speak1.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>
              <div class="bg-white w-full ">
                <img src="/assets/speak2.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>

              <div class="bg-white w-full ">
                <img src="/assets/speak3.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>

              <div class="bg-white w-full ">
                <img src="/assets/speak4.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>

              <div class="bg-white w-full ">
                <img src="/assets/speak5.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>

              <div class="bg-white w-full ">
                <img src="/assets/speak6.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>

              <div class="bg-white w-full ">
                <img src="/assets/speak8.jpg" alt="" class="rounded-2xl">
                <div class="mr-4 max-w-screen-sm">
                  <div
                    class="font-medium text-xl pt-2 "
                    style="color: #24292e"
                  >
                    Melody Meckfessel
                  </div>
                  <p class="text-base text-gray-700">Observable</p>
                  <p class="mt-3  text-gray-600">2/6/2023</p>               
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="flex justify-center">
       <p><i class="fa-brands fa-github mt-12 mb-5 mr-1"></i>© 2023 GitHub, Inc.</p>
    </div>
  </footer>
</section>
